@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

html {
    color-scheme: light;
}

html.dark {
    color-scheme: dark;
}

body {
    background: white;
    color: black;
}

html.dark body {
    background: black;
    color: white;
}
