@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

html {
    color-scheme: light;
    scroll-behavior: smooth;
}

html.dark {
    color-scheme: dark;
}

body {
    background: white;
    color: var(--color-neutral-900);
}

html.dark body {
    background: black;
    color: var(--color-neutral-100);
}
